<html>
<head>
<meta http-equiv="Content-Type" content="text/html charset="utf-8">

<title>主机管理系统</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<script src="/static/jquery/jquery-3.0.0.js"></script>
<script src="/static/jquery/jquery.cookie.js"></script>
<script src="/static/js/zjgl.js"></script>
</head>
<body style="background:url(/static/images/bg.jpg);">
	<h1 id="base_h1">-------------------------主机管理平台----------------------</h1>
	</br>
	<div>
		<a id="l_oug_link" href='/zhujiguanli/logout/'>注销</a>
		{% block content %}{% endblock %}
		
	</div>
	

</body>

</html>