{% extends "Base.html" %}	
{% load mymethod %}
{% block content %}

	<!--显示单条数据-->
	{% if data %}
		<h1 style="color:green">Users Of {{groupid}}<h1>
		<table border='1'>
			<tr>
				<th>UserName</th>
				<th>Email</th>
				<th>Phone</th>
				<th>UserType</th>
				<th>UserGroup</th>
				<th>CreateDate</th>
				<th>UpdateDate</th>
			</tr>
			<!--显示多条数据用for循环-->
			{% for item in data%}
				<tr>
					<td>{{item.username}}</td>
					<td>{{item.email}}</td>
					<td>{{item.phone}}</td>
					<td>{% get_usertype item %}</td>
					<td>{% get_groupnameofuser item %}</td>
					<td>{{item.create_date|date:'Y-m-d h:i:s'}}</td>
					<td>{{item.update_date|date:'Y-m-d h:i:s'}}</td>
				</tr>	
			
			{% endfor %}
			</table>
	{% else %}
		<h1 style="color:red">No Records Of {{groupid}}</h1>
	{% endif %}
		
	</table>

{% endblock %}